{% extends 'mkdata/base.html' %}

{% block title %} レコメンド作品一覧 | Cross Recommender {% endblock %}

{% block hero %}
<section class="hero is-small is-link is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ user.username }}さんへのオススメ作品</h1>
            <h2 class="subtitle">Recommendation List</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
    <section class="section">
        <h1 class="title is-4">データ入力終了</h1>
        <a href="#" class="button is-success is-small">オススメ作品をチェック！</a>
        <a href="/cms" class="button is-light is-small">トップに戻る</a>
    </section>
{% endblock %}