{% extends 'mkdata/base.html' %}

{% block title %} レコメンド作品一覧 | {% endblock %}

{% block hero %}
<section class="hero is-small is-link is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ user.username }}さんへのオススメ作品</h1>
            <h2 class="subtitle">Recommendation List</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-12 is-vertical is-parent">
                {% if works %}
                <ul>
                    {% for work in works %}
                        <div class="tile is-child box">
                            <p class="title is-4" >{{ work.name }}</p>
                        </div>
                    {% endfor %}
                </ul>
                {% else %}
                <p>オススメできる作品がありません</p>
                {% endif %}
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container">
        {% if works %}
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ user.username }}さんへのオススメ作品は{% for work in works %}「{{ work.name }}」{% endfor %}です！&#010; Cross Recommenderは, あなたにオススメの作品をジャンル横断で紹介するサービスです。" data-url="http://crossrecommender-env.eba-gpgr8k5t.us-east-1.elasticbeanstalk.com/cms/" data-hashtags="私がおすすめされた漫画" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}
        <p>上記の結果は、{{ user.username }}さんの読んだことがある漫画に対する好みと、全ユーザーの回答履歴に基づいて算出されており、{{ user.username }}さんが好きな漫画と同様の傾向を持っています。私たちがオススメした漫画を読んだら、ぜひまた評価を教えてください。それをもとに、さらに精度の高いレコメンドを提供いたします。</p>
        <br>
        <p>現在私たちは、皆さんにオススメできる作品の数を増やすべく、他の漫画についてもデータを集めています。</p>
        <p>今回のデータ入力で対象とならなかった漫画で、{{ user.username }}さんが読んだことがある漫画について、ぜひ<a href="{% url 'mkdata:startfreevote' %}">こちら</a>から教えてください。</p>
        <br>
    </div>
</section>
{% endblock %}
