{% extends 'mkdata/base.html' %}

{% block title %} レコメンド作品一覧 | {% endblock %}

{% block hero %}
<section class="hero is-small is-link is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ user.username }}さんへのオススメ作品</h1>
            <h2 class="subtitle">Recommendation List</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-12 is-vertical is-parent">
                {% if works %}
                <ul>
                    {% for work in works %}
                        <div class="tile is-child box">
                            <a class="title is-4" href="#">{{ work.name }}</a>
                        </div>
                    {% endfor %}
                </ul>
                {% else %}
                <p>オススメできる作品がありません</p>
                {% endif %}
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container">
        <p>上記の結果は、{{ user.username }}さんの読んだことがある漫画に対する好みと、全ユーザーの回答履歴に基づいて算出されており、{{ user.username }}さんが好きな漫画と同様の傾向を持っています。私たちがオススメした漫画を読んだら、ぜひまた評価を教えてください。それをもとに、さらに精度の高いレコメンドを提供いたします。</p>
        <br>
        <p>現在私たちは、皆さんにオススメできる作品の数を増やすべく、他の漫画についてもデータを集めています。</p>
        <p>今回のデータ入力で対象とならなかった漫画で、{{ user.username }}さんが読んだことがある漫画について、ぜひ<a href="/mkdata/freevote">こちら</a>から教えてください。</p>
    </div>
</section>
{% endblock %}
