{% extends 'cms/base.html' %}

{% block title %}データ入力 | {% endblock %}

<h4> データ収集</h4>


<h1>{{ work.name }}</h1>

{% block content %}
<section class="section">
    <div class="container is-mobile">
        <h1 class="title is-4">データ入力</h1>
        <h2 class="subtitle is-6">Update your information</h2>
        <hr>
        <form method="post" action="">
            {% csrf_token %}
            <div class="field">
                <label class="label">総合的な好み</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="like">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="like">
                    2
                  </label>
                  <label class="radio" disabled>
                    <input type="radio" name="like" disabled>
                    3
                  </label>
                  <label class="radio" disabled>
                    <input type="radio" name="like" disabled>
                    4
                  </label>
                  <label class="radio" disabled>
                    <input type="radio" name="like" disabled>
                    5
                  </label>
                </div>
            </div>
            <div class="field">
                <label class="label">喜</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio" disabled>
                    <input type="radio" name="joy" disabled>
                    3
                  </label>
                  <label class="radio" disabled>
                    <input type="radio" name="joy" disabled>
                    4
                  </label>
                  <label class="radio" disabled>
                    <input type="radio" name="joy" disabled>
                    5
                  </label>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}