{% extends 'cms/base.html' %}

{% block title %}データ入力 | {% endblock %}

<h4> データ収集</h4>

{% block content %}
<section class="section">
    <div class="container is-mobile">
        <h1>{{ work.name }}</h1>
        <h1 class="title is-4">データ入力</h1>
        <h2 class="subtitle is-6">Enter data</h2>
        <hr>
        <form method="post" action="">
            {% csrf_token %}
            <div class="field">
                <label class="label">総合的な好み</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="like">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="like">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="like">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="like">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="like">
                    5
                  </label>
                </div>
            </div>
            <div class="field">
                <label class="label">喜</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <label class="label">怒</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <label class="label">哀</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <label class="label">楽</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <label class="label">全体の構成</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <label class="label">ストーリーの面白さ</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <label class="label">キャラ設定の良さ</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <label class="label">セリフの付け方の良さ</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <label class="label">作画の良さ</label><div class="control">
                  <label class="radio">
                    <input type="radio" name="joy">
                    1
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    2
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    3
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    4
                  </label>
                  <label class="radio">
                    <input type="radio" name="joy">
                    5
                  </label>
                </div>
            </div>
          <div class="field">
                <p class="control">
                    <input type="submit" value="保存" class="button is-success">
                    <input type="hidden" name="next" value="{{ next }}" >
                </p>
            </div>
        </form>
    </div>
</section>
{% endblock %}