{% extends 'mkdata/base.html' %}

{% block title %} データ入力 | Cross Recommender {% endblock %}

{% block content %}
<main class="columns">
  <div class="column">

  </div>
</main>
<section class="section">
    <div class="container is-mobile">
        <h1 class="title is-4">データ入力</h1>
        <h2 class="subtitle is-6">Enter data</h2>
        <hr>
        <p>ここでは, {{ user.username }}さんにオススメな作品をご紹介するために, {{ user.username }}さんが読んだことがある漫画について入力していただきます。</p>
        <p>まずは, 以下の中から{{ user.username }}さんが読んだことがある漫画<b>全てに</b>チェックをつけてください。</p>
        <form method="post" action="{% url 'mkdata:userread'%}">
            {% csrf_token %}
            <br>

            {% for work in works %}
                <label class="checkbox">
                    <input type="checkbox" name = "isRead" value = "{{ work.id }}">
                        {{ work.name }}
                    <br>
                    <br>
                </label>
                <br>
            {% endfor %}

            <div class="field">
                <p class="control">
                    <input type="submit" value="次へ" class="button is-success">
                </p>
            </div>
        </form>
    </div>
</section>
{% endblock %}