{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@CrossRecommender" />
    <meta property="og:url" content="http://crossrecommender-env.eba-p8hy6ngk.us-east-1.elasticbeanstalk.com/cms" />
    <meta property="og:title" content="Cross Recommender" />
    <meta property="og:description" content="新しいお気に入りを見つけよう" />
    <meta property="og:image" content="{% static 'images/CR.png' %}" />
    <title>{% block title %}{% endblock %}Cross Recommender</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <!-- NAVIGATION BAR -->
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!-- LOGO -->
                <a class="navbar-item" href="/cms">
                    <img src="{% static 'images/CR_colorless.svg' %}" width="40" height="150">
                </a>
                <!-- HAMBURGER MENU -->
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="my-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="my-menu">
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                    <!--#####added#####-->
                    <div class="buttons">
                        <a class="button is-info navbar-item" href="{% url 'cms:user_detail' user.pk %}"><strong>Detail</strong></a>
                        <!--<a class="navbar-item" href="{% url 'cms:user_detail' user.pk %}"><strong>Detail</strong></a>-->
                        <!--###############-->
                        <a class="button is-light navbar-item" href="{% url 'cms:guestdelete' %}">Log out</a>
                    </div>
                    {% else %}
                    <!--<a class="navbar-item is-grey" href="#">About</a>-->
                    <div class="buttons">
                        <a class="button is-info navbar-item" href="{% url 'cms:signup' %}"><strong>Sign up</strong></a>
                        <a class="button is-light navbar-item" href="{% url 'cms:login' %}"><strong>Log in</strong></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <!-- MESSAGE -->
    {% for field, errors in form.errors.items %}
        <article class="message is-warning">
            <div class="message-body">
            {% for error in errors %}
                <p><strong>{{ error }}</strong></p>
            {% endfor %}
            </div>
        </article>
    {% endfor %}
    <!-- MAIN -->
    <main>
        {% block hero %}{% endblock %}
        {% block tab %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <strong>Cross Recommender</strong>
            </div>
            <div class="content has-text-centered">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdib-ziaHUKaYxRFy5grGduBP7pvwLzNamHwjUIZ0tXOB-4xQ/viewform?usp=sf_link" class="has-text-danger">お問い合わせ、不具合の報告はこちら</a>
            </div>
            <div class="content has-text-centered">
                <p>
                <a href="/cms/terms" class="has-text-danger">利用規約</a>
                    &ensp; &ensp; &ensp;
                <a href="/cms/policy" class="has-text-danger">プライバシーポリシー</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- FOR JAVASCRIPT -->
    <script>
        <!-- FOR HAMBURGER MENU -->
        for (const burder of document.getElementsByClassName('navbar-burger')) {
            const menuId = burder.dataset.target;
            const menu = document.getElementById(menuId);
            burder.addEventListener('click', e => {
                burder.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        }
        {% block extrajs %}{% endblock %}
    </script>
</body>
</html>
