{% extends 'cms/base.html' %}

{% block title %}Information | {% endblock %}

{% block hero %}
<section class="hero is-medium is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">What's Cross Recommender?</h1>
            <h2 class="subtitle">Cross Recommenderはあなたの作品レビューからおすすめ作品を紹介するサービスです。まずはsign upしてトップページの「データ入力はこちら」から今まで触れてきた作品を評価してみましょう。</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">詳細</h1>
            <p>このサービスはUTokyo Project Sprint(UTPS)参加チーム「Cross Recommender」によって作成されました。UTPSについては<a href="https://sites.google.com/g.ecc.u-tokyo.ac.jp/utokyo-project-sprint/top">公式サイト</a>をご覧ください</p>
            <p>データ入力フォームでご記入いただく作品の評価はサービス提供のため利用させていただきます。予めご了承ください。</p>
        </div>
    </div>
</section>
{% endblock %}
