{% extends 'cms/base.html' %}

{% block title %}{{ user.username }} | {% endblock %}

{% block content %}
<section class="section">
    {% if request.user.is_guest %}
    <input type="text" id="input_copy" value="{{request.user.tmppass}}" readonly>
    <button id="btn_copy">テキストをコピーする</button>
    <script type="text/javascript">
    function txtCopy() {
      const target = document.getElementById('input_copy');
      if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {
        target.readOnly = false;
        const range = document.createRange();
        range.selectNode(target);
        window.getSelection().addRange(range);
        document.execCommand('copy');
        target.readOnly = true;
      } else {
        target.select();
        document.execCommand('copy');
      }
      alert("text copied!!");
    }
    const trg = document.getElementById('btn_copy');
    trg.addEventListener('click',txtCopy);
    </script>
    <p class="has-text-danger">枠内の文字列を「元のパスワード」の欄に入力してください</p>
    <p>パスワードを変更することであなたは正規ユーザになります。</p>
    <p>パスワードの変更後は合わせてemailの変更もおすすめいたします。</p>
    <br>
    {% endif %}

    <form action="" method="POST">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg">送信</button>
</form>
</section>
{% endblock %}
