{% extends 'cms/base.html' %}

{% block title %}Home | {% endblock %}

{% block hero %}
<section class="hero is-medium is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Cross Recommender</h1>
            <h2 class="subtitle">新しいお気に入りを見つけよう</h2>
            <a href="/cms/infomation">
                <button class="button is-info is-inverted is-outlined">
                    <strong>More Info</strong>
                </button>
            </a>
            {% if user.is_authenticated %}
            <a href="/mkdata/start">
                <button class="button is-info is-inverted is-outlined">
                    <strong>データ入力はこちら</strong>
                </button>
            </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">あなたの休日に、もう一つ楽しみを。</h1>
            <p>外出自粛や働き方改革で、以前より自宅にいる時間が長くなった現代。ふと新しい趣味を探そうと思って漫画や映画を探しても、
            作品やサービスが溢れかえっている今、それらの中から自分に最もあっているものを探し出すのは難しいですよね。そんなとき、
                Cross Recommenderは、あなたが最も楽しめる作品を探すのをお手伝いします。</p>
        </div>
    </div>
</section>
{% endblock %}
