{% extends 'cms/base.html' %}

{% block title %}Home | {% endblock %}

{% block hero %}
<section class="hero is-large is-info" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80')"><!--修正-->
  <div class="hero-body">
        <div class="container">
            <h1 class="title">Cross Recommender</h1>
            <h2 class="subtitle">新しいお気に入りを見つけよう</h2>
            <!--educate用-->
            <!--
            <h2 class="subtitle has-text-danger">このページは移動しました。</h2>
            <h2>新ページ: <a href = "http://crossrecommender-env.eba-p8hy6ngk.us-east-1.elasticbeanstalk.com/cms">http://crossrecommender-env.eba-p8hy6ngk.us-east-1.elasticbeanstalk.com/cms</a></h2>
            <br>
            -->
            <!--ここまで-->
            <a href="/cms/infomation">
                <button class="button is-info is-inverted is-outlined">
                    <strong>More Info</strong>
                </button>
            </a>
            {% if user.is_authenticated %}
            <a href="/mkdata/start">
                <button class="button is-info is-inverted is-outlined">
                    <strong>データ入力はこちら</strong>
                </button>
            </a>
            {% endif %}
        </div>
        <!--
        <div class="container">
            <br>
            <a href="https://forms.gle/76CfeAkMs4fiAN3GA" target="_blank">
                <button class="button is-info is-inverted is-outlined">
                    <strong>邦画作品のデータ入力ご協力のお願い</strong>
                </button>
            </a>
        </div>
        -->
        <div class="container">
            {% if user.is_authenticated %}
            <br>
            <a href="/mkdata/recommend">
                <button class="button is-info is-inverted is-outlined">
                    <strong>おすすめ作品一覧</strong>
                </button>
            </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}


{% block content %}
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">あなたの休日に、もう一つ楽しみを。</h1>
            <p>外出自粛や働き方改革で、以前より自宅にいる時間が長くなった現代。ふと新しい趣味を探そうと思って漫画や映画を探しても、
            作品やサービスが溢れかえっている今、それらの中から自分に最もあっているものを探し出すのは難しいですよね。そんなとき、
                Cross Recommenderは、あなたが最も楽しめる作品を探すのをお手伝いします。</p>
        </div>
    </div>
</section>
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">あなたの好きな作品と似た傾向の作品をおすすめ</h1>
            <p>あなたが好きな作品と、他のユーザーのデータを照らし合わせ、あなたが好きな作品と似ている作品、
            あなたが好きな作品を同様に好きな人が面白いと感じている他の作品をお教えします。</p>
            {% if user.is_authenticated %}
            <p>データ入力は<a href = "/mkdata/start">こちら</a>から。</p>
            {% else %}
            <p>ログインは<a href="{% url 'cms:login' %}">こちら</a>から。</p>
            {% endif %}

        </div>
    </div>
</section>
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">NEWS</h1>
        </div>
        <br>
        <div class="has-text-left">
            <ul>
                <li>2020.05.29　version 0.1をリリース。</li>
                <li>2020.06.06　version 0.2をリリース。レコメンドできる作品数が大幅に増加しました！</li>
                <li>2020.06.08　version 0.3をリリース。レコメンドできる作品数がさらに増加し, 120作品に。さらに, レコメンド精度が大幅アップ！</li>
            </ul>
        </div>
    </div>
</section>

<!--educate用-->
<!--
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title has-text-danger">このページは移動しました</h1>
            <p>現在こちらのページは更新されていません。</p>
            <p><a href = "http://crossrecommender-env.eba-p8hy6ngk.us-east-1.elasticbeanstalk.com/cms">こちら</a>をご利用ください。</p>
            <p>（新規ユーザー登録をお願いします）</p>
        </div>
    </div>
</section>
-->
{% endblock %}
